@import "../../../assets/styles/variables.scss";

.card{
    width: 300px;
    margin: auto;
    margin-top: 5px;
    background-color: $lblue;
    border-radius: 20px;
}

.header-image{
    background-size: cover;
}

.mat-card-header{
    background-color: $blue;
    padding-top: 10px;
    border-radius: 10px;
    
    
}

.mat-card-title{
    text-transform: uppercase;
    color: $green;
}

.mat-card-subtitle{
    color: $black !important;
}

.mat-chip{
    background-color: $red !important;
}


